* {
  margin: 0;
  padding: 0;
}

a:link {
  color: #ee3333;
  text-decoration: none;
}

/* unvisited link */
a:visited {
  color: #ee3333;
  text-decoration: none;
}

/* visited link */
a:hover {
  text-decoration: none;
}

/* mouse over link */
a:active {
  text-decoration: none;
}

/* selected link */
body {
  background-image: url("../img/compressed/pattern2.png");
  font-family: "Open Sans", "Tahoma", "Verdana", "sans-serif";
}

#wrap {
  width: 1000px;
  margin: 0 auto;
}

/* NAVIGATION */
nav {
  height: 3.125em;
  width: 1000px;
  background-color: #ee3333;
  text-align: center;
  font-size: 1em;
  position: fixed;
  top: 0;
  z-index: 100;
}
nav li {
  flex: 2 1 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-pack: center;
  -webkit-flex-line-pack: center;
  -webkit-align-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -ms-flex-line-pack: center;
  justify-content: center;
  align-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 3.125em;
}
nav li:nth-of-type(4) {
  flex: .7 1 0;
}
nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*.col-1 { width: 1000px; }
.col-2 { width: 500px; }
.col-3 { width: 333.3px; }
.col-4 { width: 250px; }
.col-5 { width: 200px; }
.col-6 { width: 166.6px; }
.col-7 { width: 142.8px; }
.col-8 {}
.col-9 {}
.col-10 { width: 100px; }
.col-11 {}
.col-12 { width: 83.3px; }*/
#main_nav li#home span:hover, #main_nav li#aboutME span:hover,
#main_nav li#email span:hover, #main_nav li#fb span:hover {
  color: white;
  background-color: #ee3333;
}
#main_nav li#logo a {
  color: #000;
}

#sub-page li#home span:hover, #sub-page li#aboutME span:hover,
#sub-page li#email span:hover, #sub-page li#fb span:hover {
  color: #ee3333;
  background-color: white;
}
#sub-page #designhorf, #sub-page #photography {
  color: white;
}

#nav-head {
  text-align: center;
}

#aboutME, #photography {
  text-align: left;
}

#designhorf, #email {
  text-align: right;
}

#logo {
  text-align: center;
}
#logo #D-logo {
  margin: .3125em;
  width: 2.5em;
}

/* FOOTER */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  font-size: .8em;
}
footer a:link, footer a:visited {
  color: white;
}
footer ul {
  padding: 0.4em;
  list-style-type: none;
}
footer li {
  display: inline;
}
footer li img {
  vertical-align: middle;
}
footer #footer-img {
  width: 2em;
}

nav {
  background-color: white;
}

#container {
  width: 100%;
  margin-top: 3.125em;
}

.inverse .image {
  float: right !important;
}
.inverse .text {
  float: left !important;
}

.post {
  clear: both;
  height: 400px;
  margin: 0 auto;
  padding: 0;
}
.post .space {
  height: 100px;
}
.post .image {
  width: 70%;
  height: 400px;
  float: left;
}
.post .image img {
  width: 100%;
}
.post .text {
  width: 30%;
  height: 400px;
  background-color: #ee3333;
  color: white;
  float: right;
  -webkit-transition-property: color, background;
  -moz-transition-property: color, background;
  -o-transition-property: color, background;
  -ms-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: 0.1s, 0.1s;
  -moz-transition-duration: 0.1s, 0.1s;
  -o-transition-duration: 0.1s, 0.1s;
  -ms-transition-duration: 0.1s, 0.1s;
  transition-duration: 0.1s, 0.1s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-timing-function: linear, ease-in;
  -ms-transition-timing-function: linear, ease-in;
  transition-timing-function: linear, ease-in;
  text-align: center;
  text-transform: uppercase;
}
.post .text span, .post .text p {
  color: #ffffff;
}
.post .text span {
  font-size: 2.2em;
  background-color: white;
  color: #ee3333;
  padding: 2px;
  margin: 0 15px;
  line-height: 1.8em;
}
.post .text .category, .post .text .readm {
  margin-top: 1em;
  font-size: 1.2em;
  text-transform: none;
}
.post .text .readm {
  margin-top: 80px;
  background-color: #222;
  text-transform: uppercase;
  -webkit-transition-property: color, background;
  -moz-transition-property: color, background;
  -o-transition-property: color, background;
  -ms-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: 0.1s, 0.1s;
  -moz-transition-duration: 0.1s, 0.1s;
  -o-transition-duration: 0.1s, 0.1s;
  -ms-transition-duration: 0.1s, 0.1s;
  transition-duration: 0.1s, 0.1s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-timing-function: linear, ease-in;
  -ms-transition-timing-function: linear, ease-in;
  transition-timing-function: linear, ease-in;
}
.post .text .readm:hover {
  background: white;
  color: #e22;
}
.post .text:hover {
  background: #99ebd6;
}
.post .category, .post .readm {
  margin-top: 1em;
  font-size: 1.2em;
  text-transform: none;
}
.post .readm {
  margin-top: 80px;
  background-color: #222;
  text-transform: uppercase;
  -webkit-transition-property: color, background;
  -moz-transition-property: color, background;
  -o-transition-property: color, background;
  -ms-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: 0.1s, 0.1s;
  -moz-transition-duration: 0.1s, 0.1s;
  -o-transition-duration: 0.1s, 0.1s;
  -ms-transition-duration: 0.1s, 0.1s;
  transition-duration: 0.1s, 0.1s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-timing-function: linear, ease-in;
  -ms-transition-timing-function: linear, ease-in;
  transition-timing-function: linear, ease-in;
}
.post .readm:hover {
  background: white;
  color: #e22;
}

@media screen and (min-width: 701px) and (max-width: 999px) {
  #wrap {
    margin: 0 auto;
    width: 700px;
  }

  nav {
    width: 700px;
  }

  .post .image, .post .text {
    width: 100%;
  }

  .post .space {
    height: 18px;
  }
  .post .text {
    height: 100px;
  }
  .post .text .category,
  .post .text .readm {
    visibility: hidden;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  #main_nav, #wrap {
    width: 100%;
  }

  .post .image, .post .text {
    width: 100%;
  }

  .post .space {
    height: 18px;
  }
  .post .image {
    height: 300px;
  }
  .post .text {
    height: 100px;
  }
  .post .text .category,
  .post .text .readm {
    visibility: hidden;
  }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  #main_nav, #wrap {
    width: 100%;
  }

  .post .image, .post .text {
    width: 100%;
    margin: 0 auto;
  }

  .post {
    height: 310px;
    width: 95%;
  }
  .post .space {
    height: 18px;
  }
  .post .image {
    height: 250px;
  }
  .post .text {
    height: 60px;
  }
  .post .text .space {
    height: 6px;
  }
  .post .text span {
    font-size: 1.7em;
    margin: 0 15px;
    padding: 2px;
  }
  .post .text .category,
  .post .text .readm {
    visibility: hidden;
  }
}
@media screen and (max-width: 479px) {
  #main_nav, #wrap {
    width: 100%;
  }

  .post .image, .post .text {
    width: 100%;
    margin: 0 auto;
  }

  .post {
    height: 310px;
    width: 95%;
  }
  .post .space {
    height: 18px;
  }
  .post .image {
    height: 250px;
  }
  .post .text {
    height: 60px;
  }
  .post .text .space {
    height: 6px;
  }
  .post .text span {
    font-size: 1.7em;
    margin: 0 15px;
    padding: 2px;
  }
  .post .text .category,
  .post .text .readm {
    visibility: hidden;
  }
}
