/* HEADER     */
<nav id="main_nav">
          <ul id="nav-head">
            <li id="home" class="col-7">
                <a href="#">
                  <p>HOME</p>
                </a>
            </li>
            <li id="aboutME" class="col-7">
                <a href="aboutme.html">
                    <p>aboutME</p>
                </a>
            </li>
            <li id="designhorf" class="col-7">
                <p>designhorf</p>
            </li>
            <li id="logo" class="col-7">
                <a href="#">
                    <img id="D-logo" src="img/D@logo.png" alt="designhorf logo"> 
                </a>
            </li>
            <li id="photography" class="col-7">
                <p>photography</p>
            </li>
            <li id="email" class="col-7">
                <a href="#">
                    <p>@</p>
                </a>
            </li>
            <li id="fb" class="col-7">
                <a href="http://www.facebook.com/designhorfphotography">
                    <p>fb</p>
                </a>
            </li>
          </ul>
</nav>